doctype html
html
    header
        title="error"
    body   
        p=msg
        p="redirecting..."
    script.
        setTimeout(() => {
            window.location = window.location.host; 
        }, 2000);
